@use 'variables' as v;

// Boids
body{
	background: linear-gradient(v.$bg-1, v.$bg-2);
	color: white;
}
#boids-canvas{
	position: absolute;
	top: 0;
	left: 0;
}
#header-text-cont{
	z-index: 3;
	padding-right: 800px;
}
#raymarch-canvas-cont{
	position: fixed;
	top:0;
	left: 0;
	z-index: -1;
}
section{
	display: flex;
	align-items: center;
	height: 100vh;
	min-height: 800px;
}
.section-main{
	padding-right: 800px;
}